@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Sözleşmesi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align:center; color:red;">KULLANICI SÖZLEŞMESİ</h4>
                    </div>
                    <div class="modal-body">

                        <p>MADDE 1– TARAFLAR</p>

                        <p>İşbu sözleşme ve ekleri (EK-1 Gizlilik Sözleşmesi) "Mimar Sinan Mahallesi, Atalar Caddesi, No: 445/53 Körfez / KOCAELİ” adresinde mukim “Kanyelele Anonim Şirketi” işbu sözleşmede belirtilen koşullar dahilinde yararlanan Kullanıcı ile karşılıklı olarak kabul edilerek yürürlüğe girmiştir.</p>

                        <p>MADDE 2– TANIMLAR</p>

                        <p>2.1. İnternet sitesi evraktakip.online adlı internet sitesini ifade etmektedir.</p>

                        <p>2.2. Uygulama : İnternet sitesinden sunulan hizmetleri ifade etmektedir. (Bundan sonra “Uygulama” olarak anılacaktır.)</p>

                        <p>2.3. Kullanıcı: Uygulamadan Kanyelele tarafından sunulan hizmetlerden işbu sözleşmede belirtilen koşullar dahilinde yararlanan kişileri ifade etmektedir. (Bundan böyle "Kullanıcı” olarak anılacaktır.)</p>

                        <p>2.5. İletişim Kanalları: Anında bildirim, e-posta, sms, mms, telefon ile bildirim gibi iletişim mecralarını ifade eder.</p>

                        <p>2.6. Mesaj: Kanyelele’nin, Kullanıcılara pazarlama, araştırma, bilgilendirme vb. amaçlarla göndereceği, Kullanıcıların Kanyelele tarafından kendilerine gönderilmesine izin verdikleri mesajları ifade eder.</p>

                        <p>MADDE 3– KONU VE KAPSAM</p>

                        <p>3.1. İşbu sözleşmenin konusu; Kullanıcıya yönelik olarak uygulamada mevcut olan ve ileride Kanyelele tarafından sunulacak tüm ürün ve hizmetlerin, bu ürün ve hizmetlerden yararlanma şartlarının ve tarafların hak ve yükümlülüklerinin tespitidir.</p>

                        <p>3.2. Kullanıcı, işbu sözleşme hükümlerini kabul etmekle, Uygulama içinde yer alan kullanıma, üyeliğe ve hizmetlere ilişkin Kanyelele tarafından açıklanan her türlü beyanı da kabul etmiş olmaktadır. Kullanıcı, bahsi geçen beyanlarda belirtilen her türlü hususa uygun olarak davranacağını kabul, beyan ve taahhüt eder.</p>

                        <p>MADDE 4– UYGULAMA KULLANIM ŞARTLARI</p>

                        <p>4.1. Reşit olmayan veya tüzel kişi üyeler için tüzel kişiyi temsil ve ilzam etmeye yetkili olmayan kişiler kanalıyla yapılan başvurular, kayıt işlemlerini tamamlamış olsa dahi "Kullanıcının" doğurduğu haklardan yararlanamazlar. Aksi yöndeki talep ve işlemler Kanyelele’nin sorumluğunda değildir.</p>

                        <p>4.2. Kanyelele, her zaman herhangi bir gerekçe göstermeden, herhangi bir bildirimde bulunmadan ve herhangi bir tazminat ödeme yükümlülüğü bulunmadan ve derhal yürürlüğe girecek şekilde işbu sözleşmeyi tek taraflı olarak feshedebilir ve Kullanıcının işbu Uygulamadan yararlanmasına son verebilir.</p>

                        <p>MADDE 5– KARŞILIKLI HAK VE YÜKÜMLÜLÜKLER</p>

                        <p>5.1. Kullanıcı Hak ve Yükümlülükleri:</p>

                        <p>a) Kullanıcı, kullanıcı prosedürlerini yerine getirirken, Uygulamadaki ürün veya hizmetlerden faydalanırken ve Uygulamadaki ürün veya hizmetler ile ilgili herhangi bir işlemi yerine getirirken işbu sözleşme içerisinde yer alan tüm şartlara, Kanyelele internet sitesinde belirtilen kurallara ve yürürlükteki tüm mevzuata uygun hareket edeceğini, işbu sözleşmede belirtilen tüm şart ve kuralları okuduğunu, anladığını ve onayladığını kabul eder.</p>

                        <p>b) Kullanıcı, Kanyelele’nin yasal mevzuat gereği resmi makamlara açıklama yapmakla yükümlü olduğu durumlarda, resmi makamlarca usulü dairesinde bu bilgilerin talep edilmesi halinde, Kullanıcılara ait, Uygulama dahilinde edinilen bilgileri resmi makamlara açıklamaya yetkili olacağını ve bu sebeple kendisinden her ne nam altında olursa olsun tazminat talep edilemeyeceğini kabul eder.</p>

                        <p>c) Kullanıcı, Kanyelele’nin iş bu Sözleşme konusu ürün ve hizmetleri ifasına yönelik olarak ve/veya bu amaçla anlaşma akdettiği iş ortaklarına, Kullanıcıya ait ticari bilgileri açıklamaya yetkili olacağını, bu hususu kabul ettiğini beyan ederek bu sebeple Kanyelele’den her ne nam altında olursa olsun tazminat talep edilemeyeceğini kabul eder.</p>

                        <p>d) Kullanıcı, Uygulama dahilinde kendisi tarafından sağlanan bilgilerin ve içeriklerin doğru ve hukuka uygun olduğunu kabul ve taahhüt eder. Kanyelele, Kullanıcı tarafından Kanyelele’ye iletilen veya Uygulama üzerinden kendisi tarafından yüklenen, değiştirilen ve sağlanan bilgilerin ve içeriklerin doğruluğunu araştırma, bu bilgi ve içeriklerin güvenli, doğru ve hukuka uygun olduğunu taahhüt ve garanti etmekle yükümlü ve sorumlu olmadığı gibi, söz konusu bilgi ve içeriklerin yanlış veya hatalı olmasından dolayı ortaya çıkacak hiçbir zarardan da sorumlu değildir.</p>

                        <p>e) Kullanıcı, Kanyelele’ye verdiği iletişim kanallarının yalnızca kendisine ait ve yalnızca kendi kontrolü altındaki iletişim kanalları olduğunu ve bu iletişim kanallarını aktif olarak kullandığını taahhüt eder. Aksi halde, Kullanıcı iletişim kanallarının üyenin kendisine ait olmamasından veya İletişim Kanallarını aktif olarak kullanmamasından dolayı Kanyelele’nin uğrayabileceği her türlü maddi ve manevi zararı tazminle yükümlü olacaktır.</p>

                        <p>f) Kanyelele'nun sunduğu ürün ve hizmetlerden yararlananlar, Uygulama dahilinde yalnızca hukuka uygun amaçlarla işlem yapabilirler. Kullanıcının, Uygulama dahilinde yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendisine aittir. Kullanıcılar, Uygulamayı kullanırken Türk Ceza Kanunu, Türk Ticaret Kanunu, Borçlar Kanunu, 5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun, Fikir ve Sanat Eserleri Kanunu, Marka, Patent, Faydalı Model, Endüstriyel Tasarım Haklarının Korunması ile ilgili kanun hükmünde kararnameler ve yasal düzenlemeler, halihazırda yürürlükte olan ilgili her türlü mevzuat hükümleri ile Kanyelele'nin Uygulamaya ilişkin olarak yayımlayacağı bildirimlere uymayı kabul eder.</p>

                        <p>g) Kullanıcı işbu uygulamanın Kanyelele’ye ait olduğunu ve onun tarafından işletildiğini kabul eder. İşbu uygulamanın içeriği Fikri ve Sınai haklar doğrultusunda korunmaktadır. Kullanıcı, Kanyelele ve/veya başka bir üçüncü şahsın aynı veya şahsi haklarına, malvarlığına tecavüz teşkil edecek nitelikteki Uygulama dahilinde bulunan resimleri, metinleri, görsel ve işitsel imgeleri, video klipleri, dosyaları, veri tabanlarını, katalogları ve listeleri çoğaltmayacağını, kopyalamayacağını, dağıtmayacağını, işlemeyeceğini kabul ve taahhüt etmektedir.</p>

                        <p>h) Uygulamada ve Uygulama üzerinden link verilen internet sitelerinde, Kullanıcı de dahil olmak üzere üçüncü kişiler tarafından yayınlanan içeriklerden dolayı Kanyelele’nin sorumluluğu bulunmamaktadır. Herhangi bir üçüncü kişi tarafından sağlanan ve yayınlanan bilgilerin, içeriklerin, görsel ve işitsel imgelerin doğruluğu ve hukuka uygunluğunun taahhüdü bütünüyle bu eylemleri gerçekleştiren kişilerin sorumluluğundadır. Kanyelele, üçüncü kişiler tarafından sağlanan hizmetlerin ve içeriklerin güvenliğini, doğruluğunu ve hukuka uygunluğunu taahhüt ve garanti etmemektedir.</p>

                        <p>i) Kullanıcı ve Kanyelele birbirinden bağımsız taraflardır. İşbu Sözleşme'nin Taraflarca onaylanması ve uygulanması, aralarında ortaklık, temsilcilik veya işçi– işveren ilişkisi olduğu sonucunu doğurmaz.</p>

                        <p>j) Kullanıcı işbu Sözleşme kapsamında üçüncü kişilere göndereceği referans mesajlarının hukuka ve ahlaka aykırı unsurlar içermeyeceğini kabul, beyan ve taahhüt eder. Kullanıcı, göndereceği elektronik postalar ile üçüncü kişilerce istenmeyen elektronik posta iletişimi olarak nitelendirilebilecek yoğunlukta bir iletişimde bulunmayacağını kabul, beyan ve taahhüt eder. Kullanıcı, bu madde hükmüne aykırı olarak yapacağı bütün iletişimin sorumluluğunun kendisine ait olduğunu, her ne sebeple olursa olsun bu iletişimlerden kaynaklı olarak Kanyelele’ye bir dava ve talep yöneltilmesi halinde; bu dava ve talebin Kanyelele tarafından kendisine ihbar edilebileceğini, Kanyelele’nin savunma yapması için gerekli olan her türlü bilgi ve içeriği kendisine savunma için gerekli yasal sürelerin geçirilmemesini teminen derhal sağlayacağını, bahsi geçen dava ve talep sonucunda Kanyelele’nin herhangi bir zarara uğraması durumunda bahsi geçen zararın Kanyelele tarafından, tazminat hakları saklı kalmak kaydıyla, kendisine rücu ettirilebileceğini kabul, beyan ve taahhüt eder. Kullanıcının iş bu maddeye aykırı hareket etmesi sebebiyle Kanyelele iş bu Sözleşmeyi herhangi bir bildirimde bulunmadan tek taraflı olarak feshetme, üyeliği askıya alma veya iptal etme hakkını saklı tutmaktadır.</p>

                        <p>5.2. Kanyelele’nin Hak ve Yükümlülükleri:</p>

                        <p>a) Kanyelele, Uygulama'da sunulan ürün ve hizmetleri ve içerikleri her zaman tek taraflı olarak değiştirebilme, Kullanıcının sisteme yüklediği bilgileri ve içerikleri Kullanıcı da dahil olmak üzere üçüncü kişilerin erişimine kapatabilme ve silme hakkını saklı tutmaktadır. Kanyelele, bu hakkını hiçbir bildirimde bulunmadan ve önel vermeden kullanabilir. Kanyelele tarafından Kullanıcıdan talep edilen değişiklik ve/veya düzeltme istekleri belirtilen süre içerisinde yerine getirilmediği takdirde doğmuş ve doğabilecek zararlardan Kanyelele sorumlu olmayacak ve Kullanıcının Uygulamayı kullanma hakkını dondurabilme veya sonlandırma hakkına sahip olacaktır.</p>

                        <p>b) Referans kolaylığı veya çeşitli sebepler nedeniyle Uygulama içerisinde Kanyelele kontrolünde olmayan bir takım web sitelerine veya içeriklere linkler verilebilir. Bu linkler bahsi geçen web sitesini veya içerik sahibini destekleyici mahiyette olmadığı gibi, web sitesi veya içerikte yer alan bilgilere yönelik herhangi bir türde bir beyan veya garanti niteliği de taşımamaktadır. Kanyelele, üçüncü kişilerin web sitelerinin muhtevasının burada sayılanlarla sınırlı olmamakla birlikte; yasal, doğru, güvenilir, yerinde ve uygun olduğu, içeriğinde kullanılan bilgi, veri, yazılım, ürün veya hizmetlerin ticarete elverişli nitelikte olduğu, web sitesinin işletme ve idaresinin hatasız ve kesintisiz olacağı, aksaklıklar, kusur ve bozuklulukların düzeltileceği, web sitesinin zarar verici unsurlardan ve virüslerden temizlenmiş olduğu hususlarında herhangi bir öneri ve tavsiyede bulunmamakta ve bu hususlarda kullanıcıya herhangi bir güven, beyan ve teminat vermemektedir. Uygulama üzerindeki linkler vasıtasıyla erişilen portallar, web siteleri, dosyalar ve içerikler, bu linkler vasıtasıyla erişilen portallar veya web sitelerinden sunulan hizmetler veya ürünler veya bunların içeriği hakkında Kanyelele’nin herhangi bir sorumluluğu yoktur.</p>

                        <p>c) Kanyelele, Uygulama'da yer alan Kullanıcı bilgilerini Hizmetler dışında da Kullanıcı güvenliği, kendi yükümlülüğünü ifa ve bazı istatistiki değerlendirmeler ve iç denetimler için veya demografik bilgi olarak reklam ve/veya tanıtım için dilediği biçimde kullanabilir, bunları bir veri tabanı üzerinde tasnif edip muhafaza edebilir.</p>

                        <p>d) Kanyelele, işbu Uygulama ve uzantısında mevcut her tür hizmet, ürün, Uygulamayı kullanma koşulları ile Uygulamada sunulan bilgileri önceden bir ihtara gerek olmaksızın değiştirme, yeniden organize etme, Uygulamayı durdurma hakkını saklı tutar. Değişiklikler, Uygulamada yayım anında yürürlüğe girer. Kullanıcılar, Uygulamanın kullanımı ya da Uygulamaya giriş ile bu değişiklikleri de kabul etmiş sayılır. Değişiklikler, Kanyelele tarafından belirlenen mecra üzerinden Kullanıcılara duyurulur.</p>

                        <p>e) Kanyelele, Uygulama kapsamında verdiği hizmetlerin sürekli aktif ve erişilebilir olacağına dair hiçbir garanti vermemektedir. Kanyelele özellikle yargı ve sair yetkili resmi merci karar ve uygulamaları, mücbir sebepler, üçüncü kişilerin sebep olduğu durumlar, Internet bağlantı hizmeti sağlayan kuruluşlardan kaynaklanan aksaklıklar ve gecikmeler ve benzeri dış etkenler, yanlış kullanım, Kanyelele’den kaynaklanabilecek teknik arıza ve sair aksaklıklar, tamir çalışmaları veya diğer yönlendirmeler sonucu meydana gelen aksaklıklar konusunda hiçbir şekilde sorumluluk kabul etmez.</p>

                        <p>f) Kanyelele gerektiğinde, ağın işletim güvenliğinin tehlikede olması, ağa erişimin devamlılığı, ağda, yazılımda veya kayıtlı dosyalarda meydana gelebilecek arızaların önüne geçebilmek, muhtemel aksaklıkları engellemek veya etkisini azaltmak adına ve gerekli gördüğü diğer durumlarda hizmete erişimi sınırlandırabilir veya durdurabilir.</p>

                        <p>MADDE 6– HİZMETLER</p>

                        <p>MADDE 7– GİZLİLİK</p>

                        <p>Kanyelele, Kullanıcılarla ilgili bilgileri işbu Sözleşme'nin kapsamı dışında işbu Sözleşme'nin EK-1 bölümünde yer alan ve Kullanıcı Sözleşmesi'nin ayrılmaz bir parçası olan "Gizlilik Sözleşmesi" kapsamında kullanabilir. Kanyelele, Kullanıcılara ait gizli bilgileri, işbu Sözleşme'nin kapsamı dışında ancak "Gizlilik Sözleşmesi"nde belirtilen koşullar dahilinde üçüncü kişilere açıklayabilir veya kullanabilir. Sitede, Kanyelele web sitesinin virüs ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkânlar dâhilinde tedbir alınmış olmakla birlikte, nihai güvenliğin sağlanması için kullanıcı, kendi virüs koruma sistemini tedarik etmek ve gerekli korumayı sağlamakla yükümlüdür. Bu çerçevede kullanıcı, Kanyelele web sitesine girmesi nedeniyle, kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan ya da dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul eder. Kanyelele, kendi takdirinde olmak üzere sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme ya da sona erdirme Kanyelele web sitesinin hatasız olması için her türlü tedbir almış olmakla birlikte, sitede mevcut ya da oluşabilecek hatalar ve kesintiler ile ilgili herhangi bir garanti verilmemektedir. Kanyelele web sitesi, sizi tanımlamamıza yardımcı olması için bilgisayarınıza bilgi yerleştirilebilir. Bu bilgi, genel olarak "cookie" olarak bilinir. Cookie kullanımı, bir sanayi standardıdır ve birçok web sitesi bunları kullanmaktadır. Cookie´ler bilgisayarınıza kaydedilir. Cookie almak istiyorsanız ya da ne zaman yerleştirildiklerini bilmek istiyorsanız, web tarayıcınızda bu özellik varsa, web tarayıcınızı bunu yapacak şekilde ayarlayabilirsiniz. İstatsitik izleme programı olan Google AnalyticsKanyelele’ye web tarayıcınız tarafından otomatik olarak gönderilen bilgileri toplamaktadır. Bu bilgiler tipik olarak sizin İnternet servis sunucunuzun IP adresi, işletim sisteminizin ismi ve web tarayıcınızın versiyonunu içermektedir. Lütfen, tarayıcınızın ne gibi bilgiler gönderdiğini ya da ayarlarınızı nasıl değiştireceğinizi öğrenmek istemeniz halinde tarayıcınızı kontrol edin. Tarayıcınız tarafından sağlanan bilgiler sizi kişisel olarak tanımlamaz. Biz bu bilgileri sitelerimizi geliştirmemize ve onları internet ziyaretçilerimiz tarafından kullanılan teknoloji ile daha uyumlu hale getirmemize yardımcı olan istatistikler oluşturmak için kullanmaktayız.</p>

                        <p>MADDE 8– UYGULANACAK HUKUK VE YETKİLİ MAHKEME</p>

                        <p>İşbu Sözleşme'nin uygulanmasında ve yorumlanmasında Türk Hukuku uygulanacaktır. İşbu Sözleşme'den dolayı doğan veya doğabilecek her türlü ihtilafın hallinde İstanbul Merkez Mahkemeleri ve İcra Daireleri yetkilidir.</p>

                        <p>MADDE 9– FİKRİ MÜLKİYET HAKLARI</p>

                        <p>Uygulama'nın (genel görünüm, tasarım, metin, imge, logo, ikon, demonstratif, yazılı, elektronik, grafik veya makinede okunabilir şekilde sunulan teknik verileri, Kanyelele markası, uygulanan iş metodu ve iş modeli, yazılım kodu ve diğer kodlar da dahil ve fakat bunlarla sınırlı olmamak kaydıyla) tüm unsurları Kanyelele’ye aittir ve/veya Kanyelele tarafından üçüncü bir kişiden alınan telif hakkı altında kullanılmaktadır. Fikri ve Sınai haklar kapsamında korunan Kanyelele’ye ait tüm bu unsurlar önceden izin alınmadan ve kaynak gösterilmeden değiştirilemez, kopyalanamaz, çoğaltılamaz, başka bir lisana çevrilemez, yeniden yayımlanamaz, yeniden satılamaz, paylaşılamaz, dağıtılamaz, sergilenemez, Kullanıcı Sözleşmesi kapsamı dışında kullanılamaz veya bunlardan türemiş çalışmalar yapılamaz veya hazırlanamaz, aksi şekilde davranılması halinde, sorumlu kişi/kişiler Kanyelele’nin uğradığı zararı ve/veya lisans verenler de dahil üçüncü kişilerin uğradıkları zararlardan dolayı Kanyelele’den talep edilen tazminat miktarını, mahkeme masrafları ve avukatlık ücreti de dahil olmak üzere karşılamakla yükümlü olacaklardır.</p>

                        <p>MADDE 10– SÖZLEŞME DEĞİŞİKLİKLERİ</p>

                        <p>Kanyelele, tamamen kendi takdirine bağlı ve tek taraflı olarak, işbu Kullanıcı Sözleşmesi'ni veya herhangi bir hükmünü ve eklerini, uygun göreceği herhangi bir zamanda, Uygulama'da ilan etmek suretiyle değiştirebilir. İşbu Kullanıcı Sözleşmesi'nin değişen hükümleri, ilan edildikleri tarihte veya önceden belirtilen geçerlilik tarihi olması halinde ise geçerlilik tarihinde geçerlilik kazanacak; geri kalan hükümler, aynen yürürlükte kalarak hüküm ve sonuçlarını doğurmaya devam edecektir. İşbu Kullanıcı Sözleşmesi, üyelerin tek taraflı beyanları ile değiştirilemez.</p>

                        <p>MADDE 11– MÜCBİR SEBEPLER</p>

                        <p>11.1. Mücbir sebep terimi, doğal afet, isyan, savaş, grev, Kanyelele’nin gerekli bilgi güvenliği önlemleri almasına karşın Uygulama, Portal ve sisteme yapılan saldırılar da dahil ve fakat bunlarla sınırlı olmamak kaydıyla Kanyelele’nin makul kontrolü haricinde gelişen ve Kanyelele’nin gerekli özeni göstermesine rağmen önleyemediği kaçınılamayacak olaylar olarak yorumlanacaktır.</p>

                        <p>11.2. Mücbir sebep sayılan tüm durumlarda, Taraflar işbu Sözleşme ile belirlenen edinimlerinden herhangi birini geç veya eksik ifa etme veya ifa etmeme nedeniyle yükümlü değildir.</p>

                        <p>MADDE 12– KAYITLARIN GEÇERLİLİĞİ</p>

                        <p>Kullanıcı, işbu Sözleşme' den doğabilecek ihtilaflarda Kanyelele’nin kendi veri tabanında, sunucularında tuttuğu elektronik ve sistem kayıtlarının, ticari kayıtlarının, defter kayıtlarının, mikrofilm, mikrofiş ve bilgisayar kayıtlarının muteber bağlayıcı, kesin ve münhasır delil teşkil edeceğini ve bu maddenin HMK 193. madde anlamında delil sözleşmesi niteliğinde olduğunu kabul, beyan ve taahhüt eder.</p>

                        <p>MADDE 14– TEBLİGAT ADRESLERİ</p>

                        <p>14.1. Kullanıcıların, Kanyelele’ye bildirdiği elektronik posta adresi, bu sözleşme ile ilgili olarak yapılacak her türlü bildirim için yasal adresin isteneceği elektronik posta olarak kabul edilir.</p>

                        <p>14.2. Taraflar, mevcut elektronik postalarındaki değişiklikleri yazılı olarak diğer tarafa 3 (üç) gün içinde bildirmedikçe, eski elektronik postalara yapılacak isteklerin geçerli olacağını ve kendilerine yapılmış sayılacağını kabul ederler.</p>

                        <p>MADDE 15–YÜRÜRLÜK</p>

                        <p>15.1. Kullanıcı, işbu sözleşmede yer alan maddelerin tümünü okuduğunu, anladığını, kabul ettiğini ve kendisiyle ilgili olarak verdiği bilgilerin doğruluğunu onayladığını beyan, kabul ve taahhüt eder.</p>

                        <p>EK - GİZLİLİK SÖZLEŞMESİ</p>

                        <p>1. Kanyelele, kişisel bilgi ve veri güvenliğini önemsemekte ve bu hususta gerekli olan tüm tedbirleri almaya özen göstermektedir. Kullanıcılar da Uygulamayı kullanarak işbu gizlilik sözleşmesi hükümlerine uygun davranacaklarını kabul, beyan ve taahhüt ederler.</p>

                        <p>2. İşbu Gizlilik Sözleşmesi, Uygulamanın tüm bölümlerinde geçerli olacaktır.</p>

                        <p>3. Kullanıcıların bilgilerinin korunması ve gizliliğin sürdürülebilmesi Kanyelele’nin birinci önceliğidir. Bu nedenle Kullanıcıların vermiş olduğu bilgiler sözleşmede belirtilen kurallar ve amaçlar dışında herhangi bir kapsamda kullanılmayacak, üçüncü şahıslarla paylaşılmayacaktır.</p>

                        <p>4. Kanyelele, kendisine iletilen kişisel verileri ve bilgileri, bilgilerin toplanması ile ilgili açıklanan yukarıdaki amaçlar dışında üçüncü kişilerle kesinlikle paylaşmayacak, satışını yapmayacak ve hiç bir şart altında kullanılmasına izin vermeyecektir.</p>

                        <p>5. Uygulamadaki sistemle ilgili sorunların tanımlanabilmesi ve Uygulamada çıkabilecek muhtemel sorunların acil olarak giderilmesi için, Kanyelele gerektiğinde Kullanıcıların IP adresini, sosyal ağ kullanıcı hesabında kayıtlı bilgileri kaydedebilir ve bu kayıtları anılan bu amaçlarla kullanabilir. Bu IP adresleri, Kanyelele tarafından kullanıcılarını ve ziyaretçilerini genel anlamda tanımlamak ve kapsamlı şekilde demografik veri toplayabilmek amacıyla kullanılabilir.</p>

                        <p>6. Uygulama kapsamında elde edilen bilgiler Kanyelele ve işbirliği içinde olduğu diğer kişi ve kurumlar tarafından Kullanıcının kimliği hiç bir şekilde açığa çıkarılmaksızın sadece çeşitli istatistiki değerlendirmeler, izinli pazarlama, veri tabanı oluşturma çabaları ve pazar araştırmaları yapma gibi durumlar dahilinde kullanılabilir.</p>

                        <p>7. Kanyelele, Uygulama içerisinde başkaca sitelere link (bağlantı) sağlayabilir, anlaşmalı olduğu 3. Partilerin reklamlarını yayınlayabilir, Kullanıcıları reklamlar aracılığıyla reklam veren veya anlaşmalı 3. partilerin sitesine yönlendirebilir. Kanyelele, bu bağlantı yoluyla erişilen diğer Uygulamaların gizlilik uygulama ve politikalarına ya da barındırdıkları içeriklere yönelik olmak üzere hiç bir sorumluluk taşımamaktadır.</p>

                        <p>8. Kanyelele, aşağıda sayılan hallerde ise işbu gizlilik bildirimi hükümleri dışına çıkarak kullanıcılara ait bilgileri üçüncü kişilere açıklayabilecektir. Bu durumlar; • Hukuk kurallarının getirdiği zorunluluklara uyulmasının gerektiği haller, • Kanyelele’nin, Kullanıcılarıyla arasındaki sözleşmelerin gereklerinin yerine getirilmesi ve bunların uygulamaya konulmalarıyla ilgili hallerde, • Yetkili idari ve/veya adli makamlar tarafından usuli yöntemine uygun olarak yürütülen bir araştırma veya soruşturma doğrultusunda Kullanıcılarla ilgili bilgi talep edilmesi halleri, • Kullanıcıların haklarını veya güvenliklerini koruma amacıyla bilgi verilmesinin gerekli olduğu haller.</p>

                        <p>9. Kanyelele, kendisine verilen gizli bilgileri kesinlikle özel ve gizli tutmayı, bunu bir sır olarak saklamayı yükümlülük olarak kabul ettiğini ve gizliliğin sağlanıp sürdürülmesi, gizli bilginin tamamının veya herhangi bir parçasının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye açıklanmasını önleme gereği olan gerekli tüm tedbirleri almayı ve üzerine düşen tüm özeni tam olarak göstermeyi taahhüt etmektedir.</p>

                        <p>10. Kanyelele tarafından Uygulamalar içerisinde düzenlenebilecek periyodik veya periyodik olmayan anketlere cevap veren Kullanıcılardan talep edilebilecek bilgiler de, Kanyelele ve işbirliği içindeki kişi ya da kurumlar tarafından bu kullanıcılara doğrudan pazarlama yapmak, istatistiki analizler yapmak ve özel bir veri tabanı oluşturmak amacıyla da kullanılabilecektir.</p>

                        <p>11. Kanyelele, işbu gizlilik bildiriminde geçen hükümleri gerekli gördüğü zamanda Uygulamada yayınlamak şartıyla değiştirebilir. Kanyelele’nin değişiklik yaptığı gizlilik bildirimi hükümleri Uygulamada yayınlandığı tarihte yürürlüğe girmiş kabul edilir.</p>

                        <p>12. İşbu Gizlilik Sözleşmesi, 12 (oniki) maddeden ibaretttir.</p>

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="#" onclick="history.back();">Kapat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        $('#myModal').modal({ backdrop: 'static', keyboard: false, show: true });
    });
</script>