@model IEnumerable<MovieApp.Models.Authentication.AppRole>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<title>Rol Liste</title>
<div style="color:red; margin-right:175px; text-align:right;">@TempData["ErrorMsg"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Olusturulma Tarihi
            </th>
            <th>
                Rol Adı
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OlusturulmaTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
              
            </tr>
        }
    </tbody>
</table>
