@model MovieApp.Models.ViewModels.GenreViewModel
@{
    ViewData["Title"] = "IncomingDocGet";
    Layout = Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Tür Düzenle</title>
</head>
<body>
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align:center;">DÜZENLE</h4>
                    </div>
                    <div class="modal-body">

                        @using (Html.BeginForm("GenreUpdate", "Genre", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.GenreId, new { @readonly = true, @class = "form-control" })

                            <b>Adı:</b><br />
                            @Html.ValidationMessageFor(model => model.GenreName, "", new { @style = "color:red" })
                            @Html.TextBoxFor(x => x.GenreName, new { @class = "form-control" })

                            @Html.HiddenFor(x => x.Status, new { @class = "form-control" })

                            <div class="modal-footer">
                                <button class="btn btn-primary">Güncelle</button>
                                <a href="/Genre/Index" class="btn btn-danger">İptal</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        $('#myModal').modal({ backdrop: 'static', keyboard: false, show: true });
    });
</script>

