@model IEnumerable<MovieApp.Models.ViewModels.GenreViewModel>
<!-- genre list -->
@foreach (var item in Model)
{
    if (item.Status == true)
    {
        <li><a href="/Default/SeriesGenre/@item.GenreId">@item.GenreName</a></li>
    }
}